version: '3.8'

services:
  nextjs-dev:
    build:
      context: .
      dockerfile: ./docker/Dockerfile.dev
    container_name: kraft-frontend-dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    environment:
      - NODE_ENV=development
      - NEXT_TELEMETRY_DISABLED=1
    command: npm run dev
    restart: unless-stopped

